@import url('htttps://fonts.googleapis.com/css2?family=poppins:wgth@400;500;600;700&display=swap');

:root{
    --primary-color: green;
    --primary-color-dark:darkgreen;
    --primary-color-light:lightgreen;
    --secondary-color:orange;
    --text-dark:rgb(70, 59, 59);
    --text-light:#767268;
    --white:white ;
    --max-width: 1200px;
}
